@tailwind base;
@tailwind components;
@tailwind utilities;

/* For chrome ,safari , operamini */

.scrollbar-hide::-webkit-scrollbar {
 display: none;
}

/* Edge and firefox */
.scrollbar-hide {
 -ms-overflow-style: none;
 scrollbar-width: none;
}

